<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Ajouter un media</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{ form_start(form) }}
<div class="modal-body">
    <div id="error">
    </div>
    {{ form_widget(form) }}
    <input id="oldpicture" name="oldpicture" type="hidden" value="test">
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary" data-label="Enregistrer">
        Enregistrer
    </button>
</div>
{{ form_end(form) }}
