{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}

    <main role="main">
        <div class="container-fluid" style="padding-top: 60px">
            <div class="row justify-content-center" style="min-height: 80vh">
                <div class="col-xl-8 col-lg-6 col-sm-8" style="text-align: center">
                    <h1>Réinitaliser votre mot de passe</h1>
                    <div class="card">
                        <div class="card-body">
                            <form method="post">
                                <div class="form-group">
                                    <label for="inputEmail">Nouveau mot de passe</label>
                                    <input type="password" value="" name="plainpassword" id="plainpassword" class="form-control" required autofocus>
                                </div>

                                <button class="btn btn-primary" type="submit">
                                    Réinitialisé mon mot de passe
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}
