<h3>Mot de passe oublié</h3>

Bonjour {{ user.name }}!

{# example, assuming you have a route named "login" #}
Réinitialiser votre mot de passe : <a href="{{ url }}">Cliquer ici</a>.

A bientôt,
L'équipe SnowTricks.

{# Makes an absolute URL to the /images/logo.png file #}
<img src="{{ absolute_url(asset('images/logo.png')) }}">